version: "3.8"

networks:
  osu-dashboard-network:
    external: false

services:
  osu-dashboard-bff:
    environment:
      - OSU_API_CLIENT_ID=${OSU_API_CLIENT_ID}
      - OSU_API_CLIENT_SECRET=${OSU_API_CLIENT_SECRET}
      - OSU_API_REDIRECT_URI=${OSU_API_REDIRECT_URI}
      - GOPROXY=https://goproxy.cn,https://proxy.golang.org,https://goproxy.io,direct
      - GOSUMDB=off
      - GOPRIVATE=
      - GOTIMEOUT=300
    build:
      context: "./"
      dockerfile: Dockerfile.app
    networks:
      - "osu-dashboard-network"
    ports:
      - 8080:8080
    depends_on:
      "pmb-db":
        condition: service_healthy
    restart: "on-failure"

  osu-dashboard-jobs:
    environment:
      - OSU_API_CLIENT_ID=${OSU_API_CLIENT_ID}
      - OSU_API_CLIENT_SECRET=${OSU_API_CLIENT_SECRET}
      - OSU_API_REDIRECT_URI=${OSU_API_REDIRECT_URI}
      - GOPROXY=https://goproxy.cn,https://proxy.golang.org,https://goproxy.io,direct
      - GOSUMDB=off
      - GOPRIVATE=
      - GOTIMEOUT=300
    build:
      context: "./"
      dockerfile: Dockerfile.jobs
    networks:
      - "osu-dashboard-network"
    depends_on:
      "osu-dashboard-bff":
        condition: service_started
    restart: "on-failure"

  pmb-db:
    image: "postgres:15.2-alpine"
    ports:
      - 5432:5432
    expose:
      - 5432
    networks:
      - "osu-dashboard-network"
    environment:
      POSTGRES_USER: db
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: db
      PGUSER: db
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: "on-failure"

  pmb-adminer:
    image: "adminer"
    networks:
      - "osu-dashboard-network"
    restart: "on-failure"
    depends_on:
      - "pmb-db"
    ports:
      - "8081:8080"